/dist/*
/build/*
/nbproject/*
/ArhDb/*
/‘айлыƒл€»мпорта/*
/‘айлыƒл€»мпорта/.
*.class
*.bak


# Package Files #
*.jar
*.war
*.ear

dist/TrekerManager.jar
*.properties
src/java/ServletPack/ConnectDbBean.java
src/java/serverDb/Methods.java
*.java